<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Удалить пользователя</title>
</head>
<body>

<div th:each="user : ${users}">
  <a th:href="@{/user/{id}/deleteById(id=${user.getId()})}" th:text="${user.toString()}">name</a>
</div>

<br/>

<button type="button">
  <a href="/user/new">Добавить нового пользователя</a>
</button>

<br/>

<button type="button">
  <a href="/user/update">Обновить пользователя</a>
</button>

</body>
</html>